.tech-section {
    padding: 50px;
    background-color: #FEFAE0; /* Color de fondo de la sección de tecnologías */
    color: #5F6F52; /* Color del texto */
  }
  
  .tech-section h2 {
    font-size: 2rem; /* Tamaño del título, ajusta según sea necesario */
    margin-bottom: 20px;
  }
  
  .icon-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .icon-column {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-column img {
    width: 50px; /* Tamaño del icono, ajusta según sea necesario */
    height: 50px;
    margin-bottom: 10px;
  }