<section class="tech-section">
    <h2>Lenguajes, Frameworks y Herramientas Utilizadas</h2>
    <div class="icon-row">
      <div class="icon-column">
        <img src="assets/images/brand-html5.svg" alt="HTML">
        <p>HTML 5</p>
      </div>
      <div class="icon-column">
        <img src="assets/images/brand-css3.svg" alt="CSS">
        <p>CSS 3</p>
      </div>
      <div class="icon-column">
        <img src="assets/images/brand-javascript.svg" alt="JavaScript">
        <p>JavaScript</p>
      </div>
      <div class="icon-column">
        <img src="assets/images/brand-react.svg" alt="React">
        <p>React</p>
      </div>
      <div class="icon-column">
        <img src="assets/images/brand-nodejs.svg" alt="Node.js">
        <p>Node.js</p>
      </div>
      <!-- Puedes agregar más iconos según sea necesario -->
    </div>
    <div class="icon-row">
        <div class="icon-column">
          <img src="assets/images/coffee.svg" alt="Java">
          <p>Java</p>
        </div>
        <div class="icon-column">
          <img src="assets/images/brand-php.svg" alt="PHP">
          <p>PHP</p>
        </div>
        <div class="icon-column">
          <img src="assets/images/sql.svg" alt="SQL">
          <p>SQL</p>
        </div>
        <div class="icon-column">
          <img src="assets/images/brand-git.svg" alt="Git">
          <p>Git</p>
        </div>
        <div class="icon-column">
          <img src="assets/images/brand-visual-studio.svg" alt="Visual Studio code">
          <p>Vs Code</p>
        </div>
        <!-- Puedes agregar más iconos según sea necesario -->
      </div>
  </section>
