<footer class="footer-section">
    <div class="contact-form">
      <h3>Contactame</h3>
      <form action="#" method="post">
        <label for="comment">Comentario:</label>
        <textarea id="comment" name="comment" rows="4" required></textarea>
        
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required>
  
        <button type="submit">Enviar</button>
      </form>
    </div>
    <div class="contact-info">
      <h3 class="text-color">Información de Contacto</h3>
      <p class="text-color">Ubicación: Panamá, Panamá Oeste</p>
      <p class="text-color">Cargo: Desarrollador web full stack</p>
      <p class="text-color">Estudios: Lic. en Desarrollo de Software - UTP</p>
      <p class="text-color">Certificaciones: Oracle - Java 8 Programming</p>
      <a class="" href="#"><p class="text-color">CV: Click aqui para descargar mi hoja de vida</p></a>
    </div>
</footer>
  <footer class="copyright">
    <p>&copy; 2023 Hecho con Angular 17. Todos los derechos reservados.</p>
  </footer>
