.footer-section {
    background-color: #A9B388; /* Color de fondo del footer */
    color: #FEFAE0; /* Color del texto */
    padding: 30px;
    display: flex;
    justify-content: space-around;
  }
  
  .contact-form,
  .contact-info {
    flex: 1;
  }
  
  .contact-form h3,
  .contact-info h3 {
    font-size: 1.5rem; /* Tamaño del título, ajusta según sea necesario */
    margin-bottom: 15px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  textarea,
  input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    border: 1px solid #A9B388; /* Borde del cajón de texto */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  button {
    background-color: #B99470; /* Color del botón, ajusta según sea necesario */
    color: #FEFAE0; /* Color del texto del botón */
    padding: 10px;
    border: none;
    cursor: pointer;
    border: 1px solid #A9B388; /* Borde del cajón de texto */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  button:hover {
    background-color: #5F6F52; /* Cambia el color al pasar el mouse */
  }
  
  /* Nuevo estilo para la sección de derechos de autor */
  .copyright {
    text-align: center;
    background-color: #A9B388; /* Color de fondo del footer */
    color: #FEFAE0; /* Color del texto */
    padding: 10px;
  }

  .text-color{
    color: #FEFAE0;
    margin-left: 40px;
  }