<section class="portfolio-section">
    <div class="portfolio-item">
      <div class="portfolio-image">
        <!-- Aquí va la imagen de la página web -->
        <img src="assets/images/color-IA.webp" alt="Color IA">
      </div>
      <div class="portfolio-info">
        <h3>Color IA</h3>
        <p>Lenguajes utilizados: HTML5, CSS, JavaScript, React, Node js, Mongo DB</p>
        <p class="justify-text">Una plataforma web que utiliza el API de Chat GPT para dar recomendaciones de colores,
        funciona de la siguiente manera utilizando React llamamos a una API hecha con Node js
        donde hacemos las conexiones a un login y despues de eso puedes usar las consultas, que al ingresar
        un evento al que asistirias el te brindaria colores para vestir o usar, utilizamos validación de sesiones con JWT.
        Tambien utilizamos el modulo Bcrypts para cifrar contraseñas al guardarlas en la base de datos.
        </p>
        <a href="https://github.com/NelsonRodriguez7/SEMESTRALDS9" target="_blank">Ver en GitHub</a>
      </div>
    </div>
    <!-- Puedes agregar más elementos de "portfolio-item" según sea necesario -->
</section>
<section class="portfolio-section">
    <div class="portfolio-item">
      <div class="portfolio-image">
        <!-- Aquí va la imagen de la página web -->
        <img src="assets/images/scriptraptor.webp" alt="scriptraptor">
      </div>
      <div class="portfolio-info">
        <h3>ScriptRaptor - Desarrollo web</h3>
        <p>Lenguajes utilizados: HTML5, CSS, JavaScript, React, Node js, Mongo DB</p>
        <p class="justify-text">Una plataforma web que utiliza React como Frontend y Node Js como Backend
          donde se puede comprar páginas web o plataformas, cuenta con un login de usuarios en el cual se 
          hacen validaciones y restricciones de seguridad, se usa sesiones JWT y se valida la sesion en las rutas
          del API REST FULL, los pagos están hechos con PayPal y se mandan mensajes al correo.
        </p>
        <a href="https://gitlab.com/NelsonRodriguez7/portafolio-web" target="_blank">Ver en GitLab</a>
      </div>
    </div>
    <!-- Puedes agregar más elementos de "portfolio-item" según sea necesario -->
</section>
<section class="portfolio-section">
    <div class="portfolio-item">
      <div class="portfolio-image">
        <!-- Aquí va la imagen de la página web -->
        <img src="assets/images/restaurante.webp" alt="Tu Página Web">
      </div>
      <div class="portfolio-info">
        <h3>All Food</h3>
        <p>Lenguajes utilizados: HTML5, CSS, JavaScript, PHP, Mongo DB</p>
        <p class="justify-text">Una plataforma web que brinda un catalogo web de los platillos de un
          restaurante, también se le brindaba un código QR por el cual se podia acceder a su página de catalogo
          y desde alli tambien se podra pagar con PayPal, el mismo dueño del restaurante podra subir las imagenes de
          los platillos, precios y descripción desde un panel de control especial.
        </p>
        <a href="https://github.com/NelsonRodriguez7/semestral" target="_blank">Ver en GitHub</a>
      </div>
    </div>
    <!-- Puedes agregar más elementos de "portfolio-item" según sea necesario -->
</section>
