.portfolio-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #FEFAE0; /* Color de fondo de la sección del portafolio */
    color: #5F6F52; /* Color del texto */
  }
  
  .portfolio-item {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .portfolio-image {
    width: 50%; /* Ocupa la mitad del ancho de la sección del portafolio */
    margin-right: 20px;
  }
  
  .portfolio-image img {
    width: 100%; /* Ajusta la imagen al 100% del ancho del contenedor */
    border-radius: 8px; /* Borde redondeado, ajusta según sea necesario */
  }
  
  .portfolio-info {
    width: 50%; /* Ocupa la otra mitad del ancho de la sección del portafolio */
  }
  
  .portfolio-info h3 {
    font-size: 1.8rem; /* Tamaño del título, ajusta según sea necesario */
    margin-bottom: 10px;
  }
  
  .portfolio-info p {
    margin-bottom: 10px;
  }
  
  .portfolio-info a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #A9B388; /* Color del botón, ajusta según sea necesario */
    color: #FEFAE0; /* Color del texto del botón */
    text-decoration: none;
    border-radius: 5px; /* Borde redondeado del botón */
  }
  
  .portfolio-info a:hover {
    background-color: #5F6F52; /* Cambia el color al pasar el mouse */
  }

  .justify-text {
    text-align: justify;
  }