/* Estilos para el componente navbar */
.navbar {
    background-color: #A9B388; /* Color principal */
    color: #FEFAE0; /* Color de las letras */
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
  }
  
  /* Estilos para la sección izquierda del navbar */
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  /* Estilos para el título en la sección izquierda */
  .navbar-title {
    font-size: 1.5rem;
    margin-right: 20px;
  }
  
  /* Estilos para la sección derecha del navbar */
  .navbar-logo img {
    height: 40px; /* Ajusta el tamaño según sea necesario */
    margin-right: 10px;
  }