<header class="navbar">
    <div class="navbar-left">
      <div class="navbar-logo">
        <img src="/assets/images/mi-logo.webp" alt="Logo" />
      </div> 
      <span class="navbar-title">Portafolio de proyectos</span>
      
    </div>
  </header>