<section class="hero-section">
    <div class="hero-content">
      <h1>Portafolio de Nelson Rodriguez</h1>
      <h2>Licenciado en Desarrollo de Software</h2>
      <section class="icon-section">
        <a href="https://www.instagram.com/thisnelson.y/" target="_blank"><img class="space-icon" src="assets/images/brand-instagram.svg"/></a>
        <a href="https://github.com/NelsonRodriguez7?tab=repositories" target="_blank"><img class="space-icon" src="assets/images/brand-github.svg"/></a>
        <a href="https://www.linkedin.com/in/nelson-rodriguez-902b8028b/" target="_blank"><img class="space-icon" src="assets/images/brand-linkedin.svg"/></a>
      </section>
    </div>
    <div class="hero-image">
      <img class="hero-image" src="assets/images/Nelson-Rodriguez.webp"/>
    </div>
</section>
