.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #A9B388; /* Color de fondo del héroe */
    color: #FEFAE0; /* Color del texto */
  }
  
  .hero-content {
    max-width: 50%; /* Ocupa la mitad de la pantalla en laptops */
    text-align: left;
  }
  
  .hero-image {
    width: 250px; /* Tamaño de la imagen redonda */
    height: 250px;
    border-radius: 50%; /* Hace la imagen redonda */
    background-color: #FEFAE0; /* Puedes cambiar el color de fondo */
    /* Puedes agregar la imagen de perfil como fondo o como una etiqueta <img> dentro de este div */
  }
  
  .hero-section h1 {
    font-size: 2.5rem; /* Ajusta el tamaño según sea necesario */
  }
  
  /* Estilos para el h2 */
  .hero-section h2 {
    font-size: 1.8rem; /* Ajusta el tamaño según sea necesario */
  }

  .icon-section {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  /* Estilos para los íconos de redes sociales (ajusta según tus necesidades) */
  .icon-section img {
    width: 35px; /* Tamaño de la imagen, ajusta según sea necesario */
    height: 35px;
    margin-top: 5px;
  }

  .space-icon {
    margin-right: 12px;
  }

